
<div class="tab active roll-tokens" data-tab="roll-token">
	<p class="notes">{{ localize "rolltkn.config.description" }}</p>

	<div class="form-group">
		<label>{{ localize "rolltkn.config.table.label" }}</label>
		<select name="flags.roll-tokens.table">
			{{ selectOptions tables selected=rollTokens.table blank="" }}
		</select>
	</div>
{{#if rollTokens.table}}
	<div class="form-group">
		<label>{{ localize "rolltkn.config.name.label" }}</label>
		<input type="text" 
			name="flags.roll-tokens.name" 
			placeholder="The $$$ Monster" 
			value="{{object.flags.roll-tokens.name}}">
		<p class="notes">{{ localize "rolltkn.config.name.notes" }}</p>
	</div>
	<h3 class="form-header">{{ localize "rolltkn.config.image.label" }}</h3>
	<div class="form-group">	
		<input type="hidden" name="flags.roll-tokens.choice" value="{{rollTokens.choice}}">
		<p class="notes">{{ localize "rolltkn.config.image.notes" }}</p>
		<ul class="images">
			{{#each tableData.data.results as |value key|}}
				<li class="image{{#if (eq value.id ../rollTokens.choice)}} selected{{/if}}"
					data-choice="{{value.id}}"
					data-text="{{value.data.text}}"
					data-image="{{value.data.img}}">
					<img width="100" height="100" title="{{value.data.text}}" src="{{value.data.img}}">
					<span class="title">{{value.data.text}}</span>
				</li>
			{{/each}}
		</ul>
	</div>
{{/if}}
</div>